root {
    -fx-font-family: Roboto;
}

.button {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #456acf;
    -fx-text-fill: #456acf;
}

.themeButton {
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 18px;
}

#buttonBar {
}

#buttonHelp {
}

#buttonContact {
}

#buttonSettings {
}