root {
    -fx-font-family: Roboto;
}

.button {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #456acf;
    -fx-text-fill: #456acf;
}

#buttonBar {
}

#buttonHelp {
}

#buttonContact {
}

#buttonSettings {
}