.root {
    -tab-text-color: -fx-text-base-color ;
}

.tabsMainWindow {
    -fx-border-color: #09c4fd;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #09c4fd;
}

.tabsMainWindow:hover {
    -fx-background-color: #09c4fd;
    -fx-border-color: #FFFFFF;
}

.tabsMainWindow:pressed {
    -fx-background-color: #456acf;
    -fx-border-color: #456acf;
}

.tabsMainWindow:selected {
    -fx-background-color: #09c4fd;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}
